.cuerpo {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    box-shadow: 0 0 110px rgba(0, 0, 0, 0.5);
    padding: 3%;
    padding-left: 6%;
    padding-right: 6%;
    background-color: aliceblue;
}

.container {
    border-style: outset;
    padding: 2%;
}

.cruz-roja {
    width: 3%; 
    height: 3%; 
    margin-right: 3%; 
    vertical-align: middle; 
    display: inline-block;
}

.OK {
    width: 4%; 
    height: 4%; 
    margin-right: 2%;
    vertical-align: middle; 
    display: inline-block;
}

.info {
    width: 5%; 
    height: 3%; 
    margin-right: 1%;
    vertical-align: middle; 
    display: inline-block;
}

button {
    transition-duration: 0.4s;
    border-radius: 10%;
    background-color: aliceblue;
}

button:hover {
    background-color: #b90404; 
  color: white;
}

input {
    font-size: 90%;
    width: 70%;   
}

.mensajeDeError {
    font-size: 90%;
    color: #b90404;
}