
/* img {
    width: 15px;
    height: 15px;
} */
.cuerpo{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    box-shadow: 0 0 110px rgba(0, 0, 0, 0.5);
    padding: 3%;
    padding-left: 6%;
    padding-right: 6%;
    background-color: aliceblue;
}
.container{
    border-style: outset;
    padding: 2%;
}
.cruz-roja {
    width: 20px; 
    height: 20px; 
    margin-right: 5px; 
    vertical-align: middle; 
    display: inline-block;
}
  .OK{
    width: 30px; 
    height: 30px; 
    margin-right: 1px;
    vertical-align: middle; 
    display: inline-block;
}
  .info{
    width: 30px; 
    height: 30px; 
    margin-right: 10px;
    vertical-align: middle; 
    display: inline-block;
}
button{
    transition-duration: 0.4s;
    border-radius: 4px;
    background-color: aliceblue;
    

}
button:hover{
    background-color: #b90404; /* Green */
  color: white;
}
input{
    font-size: 15px;
    width: 70%;
    
}